<mat-card class="card">
<mat-card-header>
  <mat-card-title>CREATE A NEW FLASH CARD</mat-card-title>
</mat-card-header>
<mat-card-content>
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Question">
        <br>
        <form class="question-form">
          <mat-form-field class="form-field">
          <textarea matInput placeholder="Enter your question here..."></textarea>
          </mat-form-field>
        </form>
      </mat-tab>
      
      <mat-tab label="Answer">
        <br>
        <form class="answer-form">
          <mat-form-field class="form-field">
          <textarea matInput placeholder="Answer your question here..."></textarea>
          </mat-form-field>
        </form>
      </mat-tab>
    </mat-tab-group>
    
    
  </mat-card-content>

    <mat-form-field class="chip-list">
      <mat-label>Tags</mat-label>
      <mat-chip-list #chipList aria-label="Tag selection">
          <mat-chip *ngFor="let tag of tags" [selectable]="selectable"
                  [removable]="removable" (removed)="remove(tag)">
          {{tag.tagName}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input placeholder="New tag..."
              [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="addOnBlur"
              (matChipInputTokenEnd)="add($event)">
      </mat-chip-list>
    </mat-form-field>

  <mat-card-actions>
    <button mat-button class="btn btn-primary">Submit</button>
  </mat-card-actions>
</mat-card>