
<mat-toolbar color="primary">
    <button mat-icon-button >
      <mat-icon>menu</mat-icon>
    </button>
    <span>Revature Study Cards</span>
    <span class="spacer"></span>
    <mat-form-field appearance="legacy" floatLabel="never">
      <input matInput placeholder="Search for Subjects" [(ngModel)]="searchString">
    </mat-form-field>
    <button mat-raised-button color="basic" >GO</button>
    <button mat-icon-button >
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button >
      <mat-icon>share</mat-icon>
    </button>

    <button mat-icon-button >
      <mat-icon>person</mat-icon>
    </button>
    
</mat-toolbar>