<!-- Simple nav bar configuration at the top of each page -->
<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <div class="container">
        <a class="navbar-brand">Reva-Study Cards</a>
        <ul class="nav navbar-nav" routerLinkActive="active">
            <li class="nav-item"><a class="nav-link" routerLink="home">Home</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="stack">Stacks</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="study">Study</a></li>
        </ul>
    </div>
</nav>