
<div class="parent">
<mat-form-field hintLabel="Max 25 characters" appearance="fill">
    <mat-label>Enter Username</mat-label>
    <input matInput #input type="text" maxlength="25" [(ngModel)]="username">
    <mat-hint>{{input.value?.length || 0}}/25</mat-hint>
  </mat-form-field>
  <br>

  <mat-form-field hintLabel="Max 25 characters (a A 0-9 @ # $ % . _)" appearance="fill">
    <mat-label>Enter Password</mat-label>
    <input matInput #input type="password" maxlength="25" [(ngModel)]="password">
    <mat-hint>{{input.value?.length || 0}}/25</mat-hint>
  </mat-form-field>
  <br>
  <p *ngIf="registrationFail">That user name is already taken</p>
  <button (click)="register()" mat-raised-button color="primary">Register</button>
</div>
