
<div class="parent">
<mat-form-field hintLabel="Max 25 characters" appearance="fill">
    <mat-label>Enter Username</mat-label>
    <input matInput #input maxlength="25" placeholder="Ex. Nougat">
    <mat-hint>{{input.value?.length || 0}}/25</mat-hint>
  </mat-form-field>
  <br>

  <mat-form-field hintLabel="Max 25 characters (a A 0-9 @ # $ % . _)" appearance="fill">
    <mat-label>Enter Password</mat-label>
    <input matInput #input maxlength="25" placeholder="Ex. Nougat">
    <mat-hint>{{input.value?.length || 0}}/25</mat-hint>
  </mat-form-field>
  <br>
  <button (click)="register()" mat-raised-button color="primary">Register</button>
</div>
