
<div class="parent">
    <mat-card>
    
        <mat-tab-group>
            <mat-tab label="Log In">
                <br>
                <!-- <ng-template > -->
                    <!-- login -->
                    <app-login-form ></app-login-form>
                <!-- </ng-template> -->
            </mat-tab>
            <mat-tab label="Sign Up">
                <br>
                <!-- <ng-template > -->
                    <!-- register -->
                    <app-registration-form></app-registration-form>
                <!-- </ng-template> -->
            </mat-tab>
    
        </mat-tab-group>
    </mat-card>
    </div>
