<div fxLayout="row wrap" fxLayoutGap="50px grid" fxLayoutAlign="flex-start">
    <mat-card class="addCard">
        <mat-card-header>
            <mat-card-title>CREATE A NEW FLASH CARD</mat-card-title>
        </mat-card-header>
        <mat-card-content class="add-container">
            <button (click)="addCardEdit()" mat-fab color="primary" aria-label="Add card button">
                <mat-icon>add</mat-icon>
            </button>
        </mat-card-content>
    </mat-card>

    <ng-template #container>

    </ng-template>
</div>




