<app-navbar></app-navbar>

<div *ngIf="!studying">
    <div class="stackInfo">
        <mat-card>
            <mat-card-header>
              <mat-card-title>{{stack.stackName}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>
                {{stack.description}}
              </p>
            </mat-card-content>
            
          </mat-card>
    </div>
</div>
<div class="cardDisplay">
  <h3>Click on a card to FLIP IT!</h3>
    <!-- <div *ngFor="let link in cardLinks"> -->
      <app-card-grid stackId={{stack.stackId}} mode=view></app-card-grid>
    <!-- </div> -->
</div>
