
.content{
    padding:16px;
    
}


.content > mat-card{
    width: 200px;
}

.testCard{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
