<app-navbar></app-navbar>
<br>
<div class="createStack">
    <h1>Create a new stack</h1>
    <app-stack></app-stack>
</div>
<br>
<mat-divider>
</mat-divider>
<br>
<div class="stacksDisplay">
    <h1>Your Flash Card Stacks</h1>
    <div class="content">
        <div fxLayout="row wrap" fxLayoutGap="16px grid">
            <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%" *ngFor="let link of stackLinks">
                <app-stack-details-card stackId={{link.stackId}}></app-stack-details-card>
            </div>
        </div>
    </div>
</div>